body{background-color: beige;

}
.head{
    margin:0 auto;
	text-align: center;
}
.head2{
    width:1000px;
	margin:0 auto;
	color:#003366ff;
	font-size: 25px;
    text-align: center;
    line-height: 10px; 
}
.head2 p{
    font-size: 20px;
	text-align: left;
	
	color:#003366ff;
}
.head3{
    width:1000px;
	margin:0 auto;
	color:#003366ff;
	font-size: 25px;
    text-align: center;
    line-height: 10px;
    
}
.head2 p strong{
    color: rgb(111, 0, 255);
}